.stints-container {
  width: 100%;
  height: auto !important;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 19, 19);
  padding: 1rem;
  position: relative;
  overflow: visible !important;
}

.stint-plot {
  width: 100% !important;
  height: 100% !important;
}