.tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.driver-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
  height: 200px;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.driver-photo {
  width: 80%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.driver-info {
  text-align: center;
}

.driver-position {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.delta-time {
  font-size: 0.9rem;
  color: #eee;
}
